

.background-container {
  display: flex;
  height: 100vh; 
  background-size: cover;

}

.overlay-column {
 
  flex: 1;
  margin: 80px;

}

.overlay-image {
  width: 80%;
  height: 250px;

}


.content-column {
  flex: 1;
  padding: 20px;
  margin:100px;

  
}

.content {
  text-align: center; 
}

